@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@1,700&family=Gloria+Hallelujah&display=swap');
body {
    background-color: #fcf5f5; 
    font-family: Gloria Hallelujah, Cormorant Garamond;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

h2 {
    margin: 0;

}


h1 {
    text-align: right;
    height: right;
    width: 100%; 
    height: 50px; 
    top: 10%;
    right: 10%;
}
img p{
    
    width: 700px;
    
  
}



#content{

    max-width: 100%;
    margin: 0 auto;
    object-position: center;
}
    
header {
    background-color: rgba(116, 116, 116, 0.7);
    display: grid;   
    grid-template-columns: 150px auto;
}

img.logo {
    width: 80px;
}
#logo_link{
    padding-top: 5px;
    justify-self: center;
    align-self: center;
    grid-column: 1/2;
    grid-row: 1/2;


}
nav {
    grid-row: 1/2;
    grid-column: 2/7;
    display: flex; 
    grid-template-columns: repeat(auto-fit, minmax(6em, 1fr));
    width: 100%;
    height: 100px;
    justify-content: space-around;

}

second-img, h1, p{
    display: inline-block;
}

.first-card {
    display: table-cell;
    float: left;
}

nav a {
    text-decoration: none;
    color: #fcfbfb;
    padding: 35px;
    text-align: center;
}

nav a:hover {
    color: #ffffff;
    background-color: #28372e; 
}



#home {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px; 
}
#home-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}
#homepage-img {
    width: 100%;
    
}

.content {
    display: table;

}

.home-title {
    font-family: Gloria Hallelujah, Cormorant Garamond;;
    font-size: 40px;
    letter-spacing: 3px;
    color: #28372e;
    margin-top: 10px;
  
}

.button-box {
    text-align: center;
    
}
.book, .join {
    background-color: rgb(0, 115, 255);
    color: black;
    padding: 15px 30px;
    margin-top: 50px;
    font-size: 18px;
    text-decoration: none;
    border-radius: 5px;
}
.book:hover, .join:hover {
    background-color: #9d9c88;
    color: #fcfbfb;
}



.second-img {
    border: 10px solid #28372e;
    box-shadow: 5px 5px 100px #6f7364;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    height: 500px;
}




.join{
    margin-bottom: 100px;
}
.home-grid{
    display: grid;
    grid-template-columns: repeat(10, 10%);
    margin: 0 auto;
    max-width: 1500px;
}
main section { 
    text-align: center;
    margin-top: 200px;
    margin-bottom: 200px;
    width: 100%;
}

main section img {
    width: 100%;
    box-sizing: border-box;
    
}
.second{
    border: 10px solid #ada9a4;
    box-shadow: 5px 5px 10px #9c9b99;
}



footer {
    background-color: #e4e4e4;
    margin-top: 200px;
    display: flex;
    padding: 25px 50px;
    justify-content: space-around;
    
   
}
footer .social img {
    padding-top: 5px;
    width: 50px;
    display: inline-block;
}
footer h3 {
    color: #9c9b99;
}
footer a {
    color: rgb(0, 31, 68);
    text-decoration: none;
}
footer p{
    color: #28372e;
}
footer a:hover {
    color: #fd0c0c;
    text-decoration: underline;

}



.social{
    justify-self: end;
}
.active {
    color: #9c9b99;
    background-color: black; 
}



.first-card {
    grid-column: 1/5;
    grid-row: 2/4;
    
  
}
.text1 p{
    
    
    width: 1000px;
    margin-top: 100px;
    margin-left: 300px;
  
}
.text1 h1{
    width: 560px;
    margin-top: -100px;
    margin-left: 300px;
  
}
.text2 p{
    display: table-cell;
    float: left;
    width: 620px;
    margin-top: -400px;
    margin-left: 550px;
  
}
.text2 h1{
    display: table-cell;
    float: left;
    width: 620px;
    margin-top: -500px;
    margin-left: 340px;
  
}

.text3 p{
    display: table-cell;
    float: left;
    width: 620px;
    margin-top: -400px;
    margin-left: 550px;
  
}
.text3 h1{
    display: table-cell;
    float: left;
    width: 620px;
    margin-top: -500px;
    margin-left: 340px;
  
}
.second-card {
    grid-column: 2/5;
    grid-row: 4/8;
   
}
.third-card {
    grid-column: 2/5;
    grid-row: 8/16;
}




hr {
	
	height: 1px;
	border-top-width: 1px;
    color: #000000;
    width: 270%;
	margin-top: 200px;

	}


    @media screen and (max-width: 900px) {

        #home, .home-grid {
            display: block;
            height: auto;
        }
        nav, footer {
            flex-direction: column;
        }
        nav a {
            display: block;
            padding: 15px;
        }
        #home {
            margin-top: 0;
        }
        #home-msg {
            margin-top: 0;
        }
        #home-msg h4 {
            display: none;
        }
        .home-title {
            font-size: 25px;
            color: #6f7364;
        }
        .first-card, .second-card, .third-card{ 
            margin: 50px auto;
            width: 60%;
        }
        #background {
            display: none;
        }
      
        footer {
            margin-top: 25px;
        }




    }
        
        
        
